{{ $images := $.Resources.ByType "image" }}
{{ $featured := $images.GetMatch "*feature*" }}
{{ if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end }}
{{ if not $featured }}
  {{ $featured = resources.Get "/social/card-base.png" }}
  {{ $color := "#fffffc" }}

  {{ $text := .Page.Title }}
  {{ $textOptions := dict 
    "color" $color
    "size" "80"
    "lineSpacing" 10
    "x" 40 "y" 235
    "font" (resources.Get "/social/generalsans-bold.ttf")
  }}

  {{ $header := $.Site.Title }}
  {{ if eq $text $header }}{{ $header = "" }}{{ end }}
  {{ $headerOptions := dict 
    "color" "#fffffc"
    "size" "40"
    "lineSpacing" 10
    "x" 40 "y" 20
    "font" (resources.Get "/social/generalsans-bold.ttf")
  }}

  {{ $featured = $featured | images.Filter (images.Text $text $textOptions) (images.Text $header $headerOptions) }}
{{ end }}

{{ return $featured.Permalink }}