<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font & Styles -->
    <link rel="preload" as="font" href="{{ "fonts/GeneralSans-variable-normal.woff2" | absURL }}" type="font/woff2" crossorigin="">
    {{ partial "libsass" (dict "src" "styles/main.scss") }}

    <!-- Site info -->
    <title>{{ if not .IsHome}}{{- with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title -}}</title>
    {{ with .Description }}
    <meta name="description" content="{{ . }}">
    {{ end }}

    <!-- SEO -->
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | absURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | absURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | absURL }}">
    <link rel="manifest" href="{{ "site.webmanifest" | absURL }}">
    <link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | absURL }}" color="#00008b">
    <meta name="msapplication-TileColor" content="#00008b">

    <!-- Other -->
    {{ range .AlternativeOutputFormats }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end }}
  </head>

  <body class="kind-{{ .Kind }}">