<div id="searchWrapper" class="search-wrapper">
  <section class="search-container grid">

    <div class="search-form grid--main">
      {{ $url := urls.Parse site.BaseURL }}
      <form id="searchForm" class="noscript" method="GET" data-base-url="{{ $url }}" data-language-prefix="{{ site.LanguagePrefix }}">
        {{ $url = $url.Host | strings.TrimPrefix "www." }}
        {{ $placeholder := printf "Search %s" $url | printf "%s"}}
        <input id="searchInput" type="search" name="q" tabindex="0" autocomplete="off" title="{{ $placeholder }}" placeholder="{{ $placeholder }}">
      </form>
      <div>Type to search or press esc to <a id="searchCancel" href="#">cancel</a>.</div>
    </div>

    <div id="searchResults" class="search-list grid--main">
        <!--Filled by JS -->
    </div>
  </section>
</div>

{{ partial "util/esbuild.html" (dict "src" "js/search.js" "targetPath" "search.js" "load" "async") -}}
