<footer class="site-footer">
  <div class="site-footer__logo"><a href="#" class="unstyled">{{ partial "site/logo.html" . }}</a></div>
  <ul class="site-footer__item site-footer__nav unstyled">
    {{- partial "util/menu-item.html" (dict "menu" "footer" "page" . ) -}}
  </ul>
  <div class="site-footer__item">
    <div>{{ replace .Site.Copyright "{currentYear}" now.Year | markdownify}}</div>
    <ul class="site-footer__icons unstyled">
      <li><span id="themeToggle" class="theme-toggle"></span></li>
      {{ partial "util/menu-item.html" (dict "menu" "social" "page" . ) }}
    </ul>
  </div>
</footer>
