<div class="header-wrapper">
  <header id="siteHeader" class="site-header {{if or (.IsHome) (.Params.hideborder) }}site-header--border-on-scroll{{end}}">
    <h1 class="site-header__logo">
      <a class="unstyled" href="{{ .Site.BaseURL }}">
        {{ partial "site/logo.html" . }}
      </a>
    </h1>

    <div id="searchToggle" class="search-toggle icon">
      {{ partial "util/svg.html" (dict "src" "img/icons/search") }}
    </div>

    {{ partial "site/site-nav.html" . }}

  </header>
</div>