<footer class="site-footer">
  <div class="site-footer__logo"><a href="#" class="unstyled">{{ partial "site/logo.html" . }}</a></div>
  <ul class="site-footer__item site-footer__nav unstyled">
    {{- partial "util/menu-item.html" (dict "menu" "footer" "page" . ) -}}
  </ul>
  <div class="site-footer__item">
    <div>{{ replace .Site.Copyright "{currentYear}" now.Year | markdownify}}</div>
    <ul class="site-footer__icons unstyled">
      <li><span id="themeToggle" class="theme-toggle"></span></li>
      <li><a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}" aria-label="Share on Facebook">{{ partial "util/svg.html" (dict "src" "img/icons/facebook")}}</a></li>
      <li><a href="https://twitter.com/intent/tweet?url={{ .Permalink }}" aria-label="Share on Twitter">{{ partial "util/svg.html" (dict "src" "img/icons/twitter")}}</a></li>
    </ul>
  </div>
</footer>