<button
  class="magnifier header-icon header__search"
  popovertarget="search"
></button>
<div id="search" class="header__anchored grid" popover>
  {{ $url := urls.Parse site.BaseURL }} {{ $placeholder := $url.Host | strings.TrimPrefix "www." | printf "Search %s" }}

  <form
    id="search-form"
    class="space"
    method="GET"
    data-base-url="{{ $url }}"
    data-language-prefix="{{ site.LanguagePrefix }}"
  >
    <input
      id="search-input"
      class="search-input"
      type="search"
      name="q"
      tabindex="0"
      autocomplete="off"
      title="{{ $placeholder }}"
      placeholder="{{ $placeholder }}"
    />
    <div>
      Type to search or press esc to <a id="search-cancel" href="#">cancel</a>.
    </div>
  </form>

  <div id="search-results" class="results grid">
    {{/*Filled dynamically by JS*/}}
  </div>
</div>
