{{ partial "site/head.html" . }}

{{ block "header" . }}
<div class="header-wrapper">
  <header id="siteHeader" class="site-header {{if or (.IsHome) (.Params.hideborder) }}site-header--border-on-scroll{{end}}">
    <h1 class="site-header__logo">
      <a class="unstyled" href="{{ .Site.BaseURL }}">
        {{ partial "logo" . }}
      </a>
    </h1>

    <div id="searchToggle" class="search-toggle icon">
      {{- partial "svg.html" (dict "src" "img/icons/search_bold") -}}
    </div>

    <button id="navToggle" class="site-nav--btn hamburger" type="button">
      <div class="hamburger__inner">
        <span></span>
        <span></span>
      </div>
    </button>

    <nav id="siteNav" class="site-nav">
      <ul>
        {{- partial "menu-item" (dict "menu" "primary" "page" . ) -}}
      </ul>
    </nav>

  </header>
</div>
{{ end }}

<main class="site-content grid">

  <header class="page-header grid--main">

    <h1 class="page-header__title">{{ .Title }}</h1>

    {{ if or (.Params.date) (.Params.author)}}
    <p class="page-header__meta">
      {{ with .Params.author }}<span>by {{ . }}</span>{{ end }}
      {{ with .Params.date }}<span>published {{ .Format "2 January 2006" }}</span>{{ end }}
    </p>
    {{ end }}
  </header>

  <div class="page-frontmatter grid--main bigtext">

    {{ with .Description }}
    <section class="page-description">
      {{ . | markdownify }}
    </section>
    {{ end }}

    {{ block "page-frontmatter" . }}
    {{/*Other layouts can add additional frontmatter via this block*/}}
    {{ end }}

  </div>

  {{ block "main" . }}
  {{ .Content }}
  {{ end }}

  {{ if and .Params.showSponsors .Site.Params.sponsors }}
  <section class="grid--main element-grid sponsors">
    <h4 class="sponsors__title element-grid__full">Supported by:</h4>
    {{ range .Site.Params.sponsors }}
    <a class="element-grid__third sponsors__logo unstyled" href="{{ .link }}">
      {{ if .logo }}
      <img src="{{ (resources.Get .logo).Permalink }}" alt="{{ .name }}">
      {{ else }}
      <h5>{{ .name }}</h5>
      {{ end }}
    </a>
    {{ end }}
  </section>
  {{ end }}

</main>

{{ block "footer" . }}
<footer class="site-footer">
  <div class="site-footer__logo"><a href="#" class="unstyled">{{ partial "logo" . }}</a></div>
  <ul class="site-footer__item site-footer__nav unstyled">
    {{- partial "menu-item" (dict "menu" "footer" "page" . ) -}}
  </ul>
  <div class="site-footer__item">
    <div>{{ replace .Site.Copyright "{currentYear}" now.Year | markdownify}}</div>
    <ul class="site-footer__icons unstyled">
      <li><span id="themeToggle" class="theme-toggle"></span></li>
      <li><a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}">{{ partial "svg" (dict "src" "img/icons/facebook")}}</a></li>
      <li><a href="https://twitter.com/intent/tweet?url={{ .Permalink }}">{{ partial "svg" (dict "src" "img/icons/twitter")}}</a></li>
  </div>
  </div>
</footer>
{{ end }}

{{ partial "site/foot.html" . }}
