<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
{{ partial "site/site-head.html" . }}

<body class="kind-{{- .Kind }}">
{{ partial "site/site-header.html" . }}

<main class="site-content grid">
  {{ partial "page/page-header.html" . }}

  <div class="page-frontmatter grid--main bigtext">
    {{ block "frontmatter" . }}
    {{ partial "page/page-description.html" . }}
    {{ end }}
  </div>
  
  {{ block "content" . }}
  {{ partial "page/page-content.html" . }}
  {{ end }}

  {{ block "backmatter" . }}
  {{ partial "site/sponsors.html" . }}
  {{ end }}
  
</main>

{{ partial "site/site-footer.html" . }}
{{ partial "site/site-scripts.html" . }}
</body>
</html>
