{{ define "frontmatter" }}

{{ partial "page/page-description.html" . }}

{{/*For the simple style, we display a list of all subpages.*/}}
{{/*This is the default.*/}}
{{ if or (eq .Params.listStyle "simple") (not .Params.listStyle) }}
{{ partial "page/page-list.html" . }}
{{ end }}

{{ end }}

{{ define "content" }}

{{ partial "page/page-image.html" . }}
{{ partial "page/page-content.html" . }}

{{/*For the extended style, we display a list of all sections and the subpages of the section.*/}}
{{ if and (eq .Params.listStyle "extended") .Sections }}

<section class="section-list grid--main">
  {{ range .Sections }}
  <article class=" section">
    <h3 class="section__title"><a class="unstyled"href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <p class="section__description">{{ .Description | markdownify }}</p>
    {{ partial "page/page-list.html" . }}
  </article>
  {{ end }}
</section>
{{ end }}

{{ end }}
