{{ define "content" }}

{{ partial "page/page-image.html" . }}
{{ partial "page/page-content.html" . }}

{{ $paginator := .Paginate .Pages }}
<section class="section-list grid--main">
{{ range $paginator.Pages }}
  <article class="section">
    <a class="unstyled" href="{{ .Permalink }}">
      <h3 class="section__title">{{ .Title }}</h3>
      <p class="section__description">{{ .Description | markdownify }}</p>
    </a>
    {{ partial "page/page-list.html" . }}
  </article>
{{ end }}
</section>

{{ if compare.Ne $paginator.TotalPages 1 }}
<ul class="section pagination grid--main vertical">
  <li>{{ if $paginator.HasPrev }}<a href="{{ $paginator.Prev.URL }}">&#8249; Previous</a>{{ end }}</li>
  <li>{{ if $paginator.HasNext }}<a href="{{ $paginator.Next.URL }}">Next &#8250;
</a>{{ end }}</li>
</ul>
{{ end }}

{{ end }}
