{{/* USAGE: {{ partial "util/menu-item.html" (dict "page" "." "menu" "menu-name" "class" ".someClass") }} */}}
{{ $currentPage := .page }}
{{ $menu := .menu }}
{{ $class := .class | default "unstyled" }}

{{ range (index .page.Site.Menus $menu) }}
<li><a {{ if $currentPage.IsMenuCurrent $menu . }} aria-current="page" {{ end }} class="{{- $class -}} {{if or ($currentPage.IsMenuCurrent $menu .) ($currentPage.HasMenuCurrent $menu .) }} is-active {{end}} {{ with .Params.class }}{{ . }}{{ end }}" href="{{ .URL }}" title="{{ .Title }}">{{- with .Pre}}{{ . }}{{end -}}{{ .Name }}{{- with .Post}}{{ . }}{{end -}}</a></li>
{{ end }}