{{/* USAGE: {{ partial "util/svg.html" (dict "src" "path/to/svg" "class" ".someClass") }} */}}
{{ $src := .src | strings.TrimSuffix ".svg" }}
{{ $class := slice (print $src "-icon") }}

{{ if .class }}
{{ $class = $class | append (split .class ", ") }}
{{ end }}

{{ $match := "<svg (.*)?>(.*)</svg>" }}
{{ $replaceWith := printf `<svg class="%s" ${1}>${2}</svg>` (delimit $class " ") }}
{{ $resource := resources.Get (printf "%s.svg" $src) }}

{{ if not $resource }}
{{ errorf "The file (/assets/)%q is not a SVG file!" .src }}
{{ end }}

{{ return (replaceRE $match $replaceWith (printf "%s" $resource.Content ) | safeHTML) }}
