//variable fonts
@include font-face("GeneralSans-Variable", "fonts/GeneralSans-variable-normal", "woff2") {
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
}

@include font-face("GeneralSans-Variable", "fonts/GeneralSans-variable-italic", "woff2") {
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
}

@each $name,
  $weight in $font-weights {
  @include font-face("GeneralSans", "fonts/GeneralSans-#{$weight}-normal") {
    font-style: normal;
    font-display: swap;
    font-weight: $weight;
  }

  @include font-face("GeneralSans", "fonts/GeneralSans-#{$weight}-italic") {
    font-style: italic;
    font-display: swap;
    font-weight: $weight;
  }
}
