html {
  color: var(--color--font);
  line-height: var(--baseline);
  font-size: 100%; //fallback
  font-size: clamp-builder(16px, 18px);

  @include fw("normal");

  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family--heading);
  margin: var(--spacing) 0 var(--spacing);
}

h2,
h3 {
  margin: #{spacing(1)} 0 #{spacing(.5)};

  &+* {
    margin-top: 0 !important;
  }
}

@for $i from 1 through 5 {
  .text-h#{$i},
  h#{$i} {
    @include ms-fw(5 - $i, "semi-bold");
  }
}

b,
strong,
.bold {
  @include fw("semi-bold");
}

i,
em,
.italic {
  font-style: italic;
}

.bigtext {
  @include ms-fw(1, "semi-bold");
}

.smalltext {
  @include ms(-.5);
}

.codeblock,
code,
pre {
  font-family: monospace;
  color: $black;
  @include ms(-1);
  background-color: var(--color--viewport--alt) !important; //overwrite inline styles
  font-size: .85em;
  padding: spacing(.5) spacing(1);
}

code {
    padding: .25em .5em;

    pre & {
      padding: 0;
    }
}

::selection {
  color: var(--color--viewport--background);
  background-color: var(--color--font);
}

//see https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -.4em;
}
sub { 
  top: .4em; 
}

p {
  margin: 0 0 spacing(.5);

  //see https://medium.com/clear-left-thinking/all-you-need-to-know-about-hyphenation-in-css-2baee2d89179
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;

  //current spec :(
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;
}

mark {
  background-color: $blue--light;
}
