@use "../utils";

:root {
  --color: light-dark(#{utils.$color}, #{utils.$color--dark});
  --color--action: light-dark(
    #{utils.$color--action},
    #{utils.$color--action--dark}
  );
  --background: light-dark(#{utils.$background}, #{utils.$background--dark});
  --background--alt: light-dark(
    #{utils.$background--alt},
    #{utils.$background--alt--dark}
  );

  --font-family: "GeneralSans", #{utils.$font-stack-helvetica};
  --font-family--mono: #{utils.$font-stack-consolas};
  --baseline: #{utils.$baseline};

  --border: 0.175em solid currentColor;
  --border--small: 0.0875rem solid currentColor;
}
