@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "constants";
@use "functions";

@mixin mq($name) {
  @if not map.has-key(constants.$breakpoints, $name) {
    @error "The breakpoint '#{$name}' does not exist in $breakpoints.";
  }

  @media screen and (min-width: #{map.get(constants.$breakpoints, $name)}) {
    @content;
  }
}

@mixin font-size($factor) {
  font-size: functions.modular-scale($factor);
  line-height: functions.modular-fit($factor);
}

@mixin font-weight($weight) {
  @if not map.has-key(constants.$font-weights, $weight) {
    @error "The weight '#{$weight}' does not exist in $fontweights.";
  }
  font-weight: #{meta.inspect(#{map.get(constants.$font-weights, $weight)})};
}

@mixin heading($levels...) {
  $selector: ();

  @each $i in $levels {
    $selector: list.append(
      $selector,
      string.unquote("h#{$i}, .heading#{$i}"),
      comma
    );
  }

  #{$selector} {
    @content;
  }
}
