@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "constants";
@use "functions";

@mixin fs($factor) {
  font-size: functions.modular-scale($factor);
  line-height: functions.font-container-height($factor);
}

@mixin fw($weight) {
  @if not map.has-key(constants.$font-weights, $weight) {
    @error "The breakpoint '#{$weight}' does not exist in $fontweights.";
  }

  font-weight: #{meta.inspect(map.get(constants.$font-weights, $weight))};
}

@mixin fs-fw($factor, $weight) {
  @include fs($factor);
  @include fw($weight);
}

@mixin md($name) {
  @if not map.has-key(constants.$breakpoints, $name) {
    @error "The breakpoint '#{$name}' does not exist in $breakpoints.";
  }

  @media screen and (min-width: #{meta.inspect(map.get(constants.$breakpoints, $name))}) {
    @content;
  }
}

@mixin font-face($font-family, $file-path, $file-formats: ("woff", "woff2")) {
  $list: null;

  @each $format in $file-formats {
    $list: list.append($list, url("#{$file-path}.#{$format}") format("#{$format}"), comma);
  }

  @font-face {
    font-family: $font-family;
    src: $list;
    @content;
  }
}

@mixin except-last($selector, $value) {
  #{$selector}: #{$value};

  :last-child {
    #{$selector}: 0;
  }
}

@mixin colors--default {
  --color--font:#{constants.$color--font};
  --color--action: #{constants.$color--action};
  --color--background--site: #{constants.$color--background--site};
  --color--background--box: #{constants.$color--background--box};
}

@mixin colors--dark {
  --color--font:#{constants.$color--dark--font};
  --color--action: #{constants.$color--dark--action};
  --color--background--site: #{constants.$color--dark--background--site};
  --color--background--box: #{constants.$color--dark--background--box};
}

//https://stackoverflow.com/a/21622588
h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %headings !optional;
}
