@use "../utils";

.button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  color: currentColor;
  appearance: none;
  background-color: var(--color--viewport--background);
  border: var(--border);
  border-radius: var(--border-radius);
  border-color: var(--color--font);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-base);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;

  @include utils.fw("bold");

  line-height: 1;
  padding: var(--spacing--small) var(--spacing);
  text-align: center;
  text-decoration: none;
  transition: all var(--duration) var(--timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    color: var(--color--viewport--background);
    background-color: var(--color--font);
  }

  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  margin-bottom: var(--spacing--small);
}

/* stylelint-disable -- false positive, we are overwriting the styles from above */
.button--primary,
[type="submit"] {
  color: var(--color--viewport--background);
  background-color: var(--color--font);

  &:hover {
    background-color: var(--color--action);
    border-color: var(--color--action);
  }
}
