details {
  margin-bottom: spacing(.5);
}

details summary {
  @include fw("semi-bold");

  margin-bottom: spacing(.5);
  cursor: pointer;
  transition: color default-timing();

  &:focus {
    outline: none;
  }

  &:hover {
    color: var(--color--action);
  }
}

details summary > * {
  display: inline;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
