//this is taken from bittners without many changes
:root {
  --form-box-shadow: inset 0 var(--border-width) rgba(#000, .06);
  --form-box-shadow-focus:
    var(--form-box-shadow),
    0 0 .3125rem #{var(--color--action)};
}

form {
  margin-bottom: spacing(.5);
  border-top: var(--border--small);
  padding: spacing(.5) 0;
  border-bottom: var(--border--small);
  accent-color: var(--color--action);
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  @include fw("semi-bold");

  margin-bottom: var(--spacing--small);
  padding: 0;
}

label {
  display: block;

  @include fw("semi-bold");

  margin-bottom: var(--spacing--small);

  &.no-margin {
    margin: 0;
  }

  &.is-required::after {
    content: " *";
    color: red;
  }
}

input,
select,
textarea {
  display: block;
  font-family: var(--font-family);
  font-size: .75rem;
}

[type="search"] {
  -webkit-appearance: textfield;
}

textarea {
  resize: vertical;
}

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea {
  color: var(--color--font);
  appearance: none;
  background-color: transparent;
  border: var(--border--small);
  border-color: var(--color--font); //if we use currentColor, WebKit uses the placeholder's color
  border-radius: var(--border-radius);
  box-shadow: var(--form-box-shadow);
  box-sizing: border-box;
  margin-bottom: var(--spacing--small);
  padding: calc(var(--spacing) / 3);
  transition: border-color var(--duration) var(--timing);
  width: 100%;

  &:focus {
    outline: none;
  }

  //if we combine this one with the rule above, Safari does not accept either?!
  &:focus-visible {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      border: var(--border);
    }
  }

  &::placeholder {
    color: var(--color--font--alt);
  }
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: var(--spacing--small);
}

[type="file"] {
  margin-bottom: var(--spacing--small);
  width: 100%;
}

select {
  margin-bottom: var(--spacing--small);
  width: 100%;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {
  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}

input[type="checkbox"] + label {
  display: inline-block;
}

.input-container--submit {
  margin-top: spacing(.5);
}

.input-container--checkbox,
.input-container--radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  .input-field[type="checkbox"] {
    order: -1;
  }

  .input-label {
    margin-bottom: 0;
  }

  .input-describtion {
    flex-basis: 100%;
  }
}

.error {
  color: red;
}

.success {
  color: green;
}
