a {
  color: var(--color--font);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  transition: color var(--duration) var(--timing);

  &:hover {
    color: var(--color--action);
  }

  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  &.unstyled,
  &.unchanged {
    text-decoration: none;
  }

  &.unchanged {
    color: var(--color--font);
  }
}
