@use "../utils";

ul {
  margin-left: 1em;
}

ol {
  list-style: none;
  counter-reset: ordered-list;
}

ol li {
  counter-increment: ordered-list;

  &::before {
    content: counters(ordered-list, ".", upper-roman) ". ";
    display: inline-block;
    min-width: 1.5em;
  }
}

li li {
  margin-left: 1em;
}

ul,
ol {
  list-style-position: outsite;
  margin-top: 0;
  margin-bottom: utils.spacing(.5);
  padding: 0;

  ul,
  ol {
    margin-bottom: 0;
  }

  &.vertical,
  &.unstyled {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;

    li::before {
      content: "";
    }
  }

  &.vertical li {
    display: inline-block;

    @include utils.except-last(padding-right, 1.5em);
  }
}

dl {
  margin: 0;
}

dt {
  @include utils.fw("bold");

  margin: 0;
}

dd {
  margin: 0;
}

hr {
  border-bottom: var(--border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: var(--spacing) 0;
}
