figure {
  margin: 0;
}

figcaption {
  color: var(--color--font--alt);
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

svg {
  height: 1em;
}

.icon {
  --padding: .25em;

  height: calc(1em + var(--padding) * 2);
  width: calc(1em + var(--padding) * 2);
  padding: var(--padding);

  display: flex;
  align-items: center;
  justify-content: center;
}