@use "../utils";

.sponsors {
  margin-top: utils.spacing(1);
  padding-top: utils.spacing(1);
  border-top: var(--border--small);

  columns: 2;
  column-gap: utils.spacing(1.5);

  @include utils.md("medium") {
    columns: 3;
    column-gap: utils.spacing(3);
  }

  .sponsors__title {
    margin-top: 0;
    margin-bottom: 0;
    column-span: all;
  }

  .sponsors__logo {
    cursor: pointer;

    svg,
    img {
      width: auto;
      margin-top: utils.spacing(1);
    }

    &:hover svg,
    &:hover img {
      animation: pulse 1.5s infinite;
    }
  }
}

@keyframes pulse {

  0%,
  100% {
    animation-timing-function: ease-in;
  }

  50% {
    transform: scale(1.05);
  }
}
