@use "../utils";

.footer {
  border-block-start: var(--border--small);
  padding-block: utils.space();

  @include utils.mq("medium") {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: baseline;

    &__item:nth-child(3n + 2) {
      column-count: 2;
    }
    &__item:nth-child(3n) {
      text-align: right;
    }
  }
}
