@use "../utils";

.footer {
  border-block-start: var(--border--small);
  padding-block: utils.space();

  display: flex;
  gap: utils.space();
  flex-direction: column;

  @container (width > calc(14ch * 4)) {
    flex-direction: row;

    &__item {
      &:last-child {
        text-align: right;
      }
      &--large {
        columns: 2;
      }
    }
  }

  &__item {
    flex: 1;

    &--large {
      flex: 2;
    }
  }
}
