@use "../utils";

@include utils.md("medium") {
  .grid {
    display: grid;
    grid-template-columns: 75% 1fr; //repeat(3, 1fr);
    grid-template-rows: minmax(min-content, max-content);
  }

  .grid--main {
    grid-column: 1/2;
  }

  .grid--full {
    grid-column: 1/3;
  }

  .grid--side {
    grid-column: 2/3;
  }
}

.element-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  column-gap: utils.spacing(.5);

  &__full {
    grid-column: span 6;
  }

  &__third,
  &__half {
    grid-column: span 3;
  }

  @include utils.md("medium") {
    &__third {
      grid-column: span 2;
    }
  }
}
