@include md("medium") {

  .grid {
    display: grid;
    grid-template-columns: 75% 1fr; //repeat(3, 1fr);
    grid-template-rows: minmax(min-content, max-content);
  }

  .grid--main {
    grid-column: 1/2;
  }

  .grid--full {
    grid-column: 1/3;
  }

  .grid--side {
    grid-column: 2/3;
  }

}

.grid-element {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  column-gap: spacing(.5);

  .grid-element__full {
    grid-column: span 6;
  }

  .grid-element__third,
  .grid-element__half {
    grid-column: span 3;
  }

  @include md("medium") {

    .grid-element__third {
      grid-column: span 2;
    }

  }
}