@use "../utils";

.header {
  inset-block-start: 0;
  position: sticky;
  padding: utils.space(0.5) 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;

  line-height: 1;

  background: var(--background);
  z-index: 99;

  anchor-name: --header;

  &__logo {
    font-size: 1em;
    line-height: 1;
    margin: 0;
  }

  @container (width > 60ch) {
    &__menu {
      flex: 1;
    }
    &__search {
      order: 3;
    }
  }
}
