@use "../utils";

.header {
  inset-block-start: 0;
  position: sticky;
  padding: utils.space(0.5) 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;

  line-height: 1;

  background: var(--background);
  z-index: 99;

  anchor-name: --header;

  &__popover {
    position-anchor: --header;
    position-area: bottom span-all;
    width: anchor-size();

    height: 0;
    transition:
      height 0.4s ease-out allow-discrete,
      overlay 0.4s ease-out allow-discrete,
      display 0.4s ease-out allow-discrete;

    background: var(--background);

    &:popover-open {
      height: calc(100vh - anchor-size(height));

      @starting-style {
        height: 0;
      }
    }

    @container (width > 60ch) {
      &--mobile {
        display: block;
        position: relative;
        position-anchor: none;
        height: auto;

        transition: none;
      }
    }
  }

  &__logo {
    font-size: 1em;
    line-height: 1;
    margin: 0;
  }

  @container (width > 60ch) {
    &__menu {
      flex: 1;
    }
    &__search {
      order: 3;
    }
  }
}
