:root {
  //logo (header font-size * line-height) + bottom-padding + offset
  --header-height: calc(#{font-container-height(0)} + #{spacing(.5 + .5)} + .5em);

  @include md("medium") {
    --header-height: calc(#{font-container-height(0)} + #{spacing(1 + .5)} + .5125em);
  }
}

.header-wrapper {
  position: fixed;
  top: 0;
  z-index: 101;
  width: 100%;
  background-color: var(--color--viewport--background);
}

.site-header {

  // same width as content and footer
  width: calc(100% - (var(--spacing--site) * 2));
  max-width: calc(#{$max-page-width} - (var(--spacing--site) * 2));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: spacing(.5);
  border-bottom: var(--border--small);
}

.site-header__logo {
  font-size: 1em;
  margin: 0;
  flex: 1;

  @include md("medium") {
    flex: 0
  }
}

.site-logo {
  height: 1em;
}

.site-header--border-on-scroll {
  border-bottom: none;
}

.is-scrolled .site-header--border-on-scroll {
  border-bottom: var(--border--small);
}

.site-content {
  margin-top: var(--header-height);
}

//see https: //stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
//we add a margine to ::target::before that is equal to the header's offset (here to .hide-logo)
:target::before {
  content: " ";
  display: block;
  visibility: hidden;
  pointer-events: none;
  height: calc(var(--header-height) + #{spacing(1)});

  /* fixed header height */
  margin: calc(-1 * (var(--header-height) + #{spacing(1)})) 0 0;

  /* negative fixed header height */

  z-index: -9999;
}
