@use "../utils";

.menu {
  list-style: none;

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5ch;

    text-decoration: initial;
  }

  &__icon {
    display: inline;
  }

  &--vertical {
    display: flex;
    flex-wrap: wrap;
    gap: utils.space() utils.space(1);
  }

  &--social &__item {
    display: inline-block;
    margin-inline-end: 0.5ch;

    &:last-child {
      margin-inline-end: 0;
    }
  }

  &--primary {
    display: flex;
    gap: utils.space(1);
    justify-content: end;

    margin: 0;

    @include utils.font-weight("semi-bold");

    .menu__item {
      margin-inline: utils.space(1);
      padding-block: utils.space(1);
      border-block-end: var(--border--small);

      opacity: 0;
      transform: scale(1.1) translateY(-30px);
      transition:
        opacity 0.4s ease-out allow-discrete,
        padding 0.4s ease-out allow-discrete,
        transform 0.4s ease-out allow-discrete;
      transition-delay: calc(var(--i, 0) * 0.07s);

      &:last-child {
        border-block-end: none;
      }

      #{utils.$primary-open} & {
        transform: scale(1) translateY(0);
        opacity: 1;
      }
    }
  }
}

@container (width > 60ch) {
  .menu--primary {
    .menu__trigger {
      display: none;
    }

    .menu__item {
      display: inline-block;
      margin-inline: initial;
      padding: initial;
      border: initial;
      opacity: 1;
      transform: initial;
      transition-delay: initial;
    }

    .menu__link {
      padding: utils.space(0.25, true) utils.space();

      @include utils.hover {
        color: var(--background);
        background-color: var(--color);
      }

      &--active {
        color: var(--background);
        background-color: var(--color);

        @include utils.hover {
          background-color: var(--color--action);
        }
      }
    }
  }
}
