$cubic--nav: cubic-bezier(.4, .01, .165, .99);
$cubic--burger: cubic-bezier(.645, .045, .355, 1);

.site-nav {
  height: 0;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: var(--header-height);
  left: 0;
  width: 100%;

  @include ms-fw(0, "semi-bold");

  background-color: var(--color--viewport--background);
  transition: height .4s;

  ul {
    list-style: none;
    margin: 0 var(--spacing);

    li {
      margin: 0 var(--spacing);
      padding: spacing(1) 0;

      @include except-last(border-bottom, var(--border--small));

      opacity: 0;
      transform: scale(1.1) translateY(-30px);
      transition:
        transform .4s $cubic--nav,
        opacity .6s $cubic--nav;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: #{.25 - ($i * .07)}s;
        }
      }
    }
  }
}

.nav-active {
  height: 100vh;
  overflow: hidden;

  .site-nav {
    height: 100%;

    ul li {
      transform: scale(1) translateY(0);
      opacity: 1;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: #{.07 * $i}s;
        }
      }
    }
  }

  .site-header--border-on-scroll {
    border-bottom: var(--border--small);
  }
}

button.hamburger {
  padding: 0;
  margin: 0;
  border: none;
}

.hamburger {
  height: 1em;
  width: 1.2em;
  background-color: transparent;
  border: 0;
  display: inline-block;

  &:hover {
    background-color: inherit;
  }
}

.hamburger__inner {
  margin-top: -1px;
}

.hamburger span {
  display: block;
  transition: transform .2s $cubic--burger .2s;

  &:nth-child(1) {
    transform: translate3d(0, -.25em, 0);
  }

  &:nth-child(2) {
    transform: translate3d(0, .25em, 0);
  }

  &::before {
    background-color: var(--color--font);
    border-radius: 0;
    content: "";
    display: block;
    height: var(--border-width--small);
    position: absolute;
    width: 100%;
    transition: transform .4s $cubic--burger;
  }
}

.hamburger.is-active span {
  transition: transform .2s $cubic--burger;
  transform: translate3d(0, 0, 0);

  &:nth-child(1)::before {
    transform: rotate(45deg);
  }

  &:nth-child(2)::before {
    transform: rotate(-45deg);
  }
}

@include md("medium") {
  .hamburger {
    display: none;
  }

  .site-nav {
    height: initial;
    position: initial;
    width: initial;
    text-align: right;
    flex: 1;

    ul li {
      opacity: 1;
      border-bottom: 0;
      display: inline-block;
      transform: none;
      transition: none;
      padding: 0;
      margin-right: 0;

      a {
        transition: all default-transition();
        display: inline-block;
        padding: .25em .75em;

        &.is-active,
        &:hover {
          background-color: var(--color--font);
          color: var(--color--viewport--background);
        }

        &.is-active:hover {
          background-color: var(--color--action);
        }
      }
    }

    ul {
      margin: 0;
    }
  }
}
