$max-page-width: 1200px;

html {
  background-color: var(--color--viewport--background);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: $max-page-width;
  min-height: 100%;
  margin: auto;
}

.site-content {
  flex: 1;
}

.site-header,
.site-content,
.site-footer {
  margin: 0 var(--spacing--site);
}

.site-content,
.site-footer {
  margin-bottom: spacing(.5);
}

.site-header {
  padding-top: spacing(.5);
}

@include md("medium") {

  .site-content,
  .site-footer {
    margin-bottom: spacing(1);
  }

  .site-header {
    padding-top: spacing(1);
  }
}

.kind-404 .site-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submission-form {
  padding-top: spacing(.5);
  margin-bottom: spacing(.5);
  border-top: var(--border);
  border-bottom: var(--border);

  h3 {
    margin-top: 0;
  }
}