.page-frontmatter>* {
  margin-bottom: spacing(.5);
}

.page-frontmatter,
.page-image {
  margin-bottom: spacing(1);
}

.page-header__meta {
  margin-top: spacing(-1);
  margin-bottom: spacing(1);
}

.page-content>%headings:first-child {
  margin-top: 0;
}

.page-header__meta span {
  display: inline-block;

  &::after {
    content: ", ";
  }

  &:first-child::first-letter {
    text-transform: capitalize;
  }

  &:last-child::after {
    content: "";
  }
}

.page-toc ol li::before {
  display: inline-block;
  min-width: 1.5em;
}

.section {
  border-top: var(--border--small);
  padding-top: spacing(1);
  padding-bottom: spacing(2);

  &:last-child {
    //footer has 1 spacing at the top
    padding-bottom: spacing(1);
  }
}

.section-list {
  padding-top: spacing(1);
}

.pagination {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    @include fw("bold");
  }
}