@use "../utils";

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-width: 1400px;

  margin: auto;
  padding-inline: utils.clamp-builder(1rem, 3rem);

  background-color: var(--background);

  container-type: inline-size;
}
