@use "../utils";

.search-input {
  @include utils.font-size(4);
  @include utils.font-weight("semi-bold");

  border: 0;
  background: none;

  &:focus {
    outline: 0;
  }
}

.results {
  line-height: initial; //check

  margin: 0;
  overflow-y: scroll;
  max-height: 100%;

  &__link:focus-visible {
    color: var(--color--action);
    outline: none;
  }
}
