@use "../utils";

html {
  background-color: var(--color--background--site);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: var(--max-page-width);
  min-height: 100%;
  margin: auto;
}

.site-content {
  flex: 1;
}

.site-header,
.site-content,
.site-footer {
  margin: 0 var(--spacing--site);
}

.site-content {
  margin-bottom: utils.spacing(.5);
}

.site-header {
  padding-top: utils.spacing(.5);
}

@include utils.md("medium") {

  .site-content {
    margin-bottom: utils.spacing(1);
  }

  .site-header {
    padding-top: utils.spacing(1);
  }
}

.kind-404 .site-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
