@function spacing($amount: 1) {

  @if $amount%.5==0 {
    @return calc(#{$amount}rem * var(--baseline));
  }

  @else {
    @error "Spacing needs to be a factor of .5, was '#{$amount}."
  }
}

@function font-container-height($ms-factor: 0) {
  @return calc(#{modular-scale($ms-factor)} * var(--baseline));
}

@function default-transition() {
  @return var(--duration) var(--timing);
}

@function clamp-builder($min, $max, $breakpoint--min: "medium", $breakpoint--max: "x-large") {
  @if map-has-key($breakpoints, $breakpoint--min) and map-has-key($breakpoints, $breakpoint--max) {

    $min-width: map-get($breakpoints, $breakpoint--min);
    $max-width: map-get($breakpoints, $breakpoint--max);
    $width-diff: strip-unit($max-width - $min-width);
    $value-diff: strip-unit($max - $min);

    $slope: calc(1rem + #{$value-diff} * ((100vw - #{$min-width}) / #{$width-diff}));
    @return clamp(#{$min}, #{$slope}, #{$max});
  }

  @else {
    @error "The breakpoints '#{$min-breakpoint}' or '#{$max-breakpoint}' do not exist in $breakpoints.";
  }
}

@function strip-unit($number) {
  @if type-of($number)=="number"and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}