@mixin darkmode {
  --color--font: #{$white};
  --color--font--alt: #{$gray--light};
  --color--action: #{$blue--light};
  --color--viewport--background: #{$black};
  --color--viewport--alt: #{$gray};
}

.alt-theme {
  @include darkmode;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include darkmode;
  }

  .alt-theme {
    --color--font: #{$black};
    --color--font--alt: #{$gray--dark};
    --color--action: #{$blue};
    --color--viewport--background: #{$white};
    --color--viewport--alt: #{$gray--light};
  }
}

.theme-dark--display {
  display: none;
  
  @media (prefers-color-scheme: dark) {
    display: initial;
  }
  .alt-theme & {
    display: initial;
  }
}

.theme-light--display {
  @media (prefers-color-scheme: dark) {
    display: none;
  }
  .alt-theme & {
    display: none;
  }
}

.alt-theme .theme-dark--white {
  filter: brightness(0) invert(1);
}

@media (prefers-color-scheme: dark) {
  .theme-dark--white  {
    filter: brightness(0) invert(1);
  }

  .alt-theme .theme-dark--white  {
    filter: none;
  }
}