@use "../utils";

:root {
  color-scheme: light;

  &:has(#themeCheckbox:checked) {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    &:has(#themeCheckbox:checked) {
      color-scheme: light;
    }
  }
}
