@use "../utils";

$toggle-size: 1em;

.theme-toggle {
  appearance: none;

  display: inline-block;
  cursor: pointer;

  width: $toggle-size;
  height: $toggle-size;
  border-radius: 50%;
  margin: 0;

  border: var(--border--small);
  background: linear-gradient(-45deg, utils.$background 50%, utils.$color 50%);

  transition: transform 250ms ease-in-out;

  &:checked {
    transform: rotate(180deg);
  }

  @media (hover: hover) {
    &:hover {
      transform: rotate(45deg);

      &:checked {
        transform: rotate(225deg);
      }
    }
  }
}
