@use "../utils";

$toggle-size: 1.4em;

.theme-toggle {
  appearance: none;

  display: inline-block;
  cursor: pointer;

  width: $toggle-size;
  height: $toggle-size;
  border-radius: 50%;
  margin: 0;

  border: currentColor solid 1.499px;
  background: linear-gradient(
    to right,
    utils.$color--background--site 0 50%,
    utils.$color--font 50% 100%
  );

  transform: rotate(45deg);
  transition: transform 250ms ease-in-out;

  &:checked {
    transform: rotate(225deg);
  }
}

@media (hover: hover) {
  .theme-toggle:hover {
    transform: rotate(90deg);

    &:checked {
      transform: rotate(270deg);
    }
  }
}
