@use "../utils";

$toggle-size: 1em;

.theme-toggle {
  box-sizing: border-box;
  display: block;

  width: $toggle-size;
  height: $toggle-size;
  border-radius: $toggle-size;
  border: currentColor solid 1.499px; //equal to an icon's stroke width
  overflow: hidden;
  cursor: pointer;
  transform: rotate(45deg);

  &::after {
    width: 50%;
    height: $toggle-size;
    display: block;
    background: utils.$color--background--site;
    content: "";
  }

  background: utils.$color--dark--background--site;
  transition: transform 250ms ease-in-out;
}

.alt-theme .theme-toggle {
  transform: rotate(225deg);
}

@media (hover: hover) {
  .theme-toggle:hover {
    transform: rotate(90deg);
  }

  .alt-theme .theme-toggle:hover {
    transform: rotate(270deg);
  }
}
