/*
 * Three different shades are used by Ixion:
 * (1) #1A4C94 - the main color (original: #D7B221)
 * (2) #16355D - darker background color, e.g. on hover (original #C1A01E)
 * (3) #0D2742 - very dark text shade, used for texts only, e.g. on hover (original #AB8D1A)
 */

/*
 * Buttons
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
#infinite-handle span {
  background: #1A4C94;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover,
#infinite-handle span:hover {
  background: #16355D;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus,
.button:active,
.button:focus,
#infinite-handle span:active,
#infinite-handle span:focus {
  background: #16355D;
}

/*
 * Formatting
 */
.comment-navigation .nav-previous a,
.comment-navigation .nav-next a,
.posts-navigation .nav-previous a,
.posts-navigation .nav-next a,
.post-navigation .nav-previous a,
.post-navigation .nav-next a {
  background-color: #1A4C94;
}

.comment-navigation .nav-previous a:hover,
.comment-navigation .nav-next a:hover,
.posts-navigation .nav-previous a:hover,
.posts-navigation .nav-next a:hover,
.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover {
  background: #16355D;
}

/*
 * Navigation
 */
.main-navigation ul > li > a {
  color: #1A4C94;
}

.main-navigation .menu-toggle {
  background: #1A4C94;
}

.main-navigation ul {
  border-color: #1A4C94;
}

.main-navigation ul:before {
  color: #1A4C94;
}

.main-navigation ul ul {
  border-color: #1A4C94;
}

.main-navigation ul ul:before {
  color: #1A4C94;
}

/*
 * Links
 */
a {
  color: #1A4C94;
}

a:visited {
  color: #1A4C94;
}

a:hover, a:focus, a:active {
  color: #0D2742;
}

/*
 * Frontpage
 */
.testimonials .edit-link a,
.testimonials .edit-link a:visited {
  color: #1A4C94;
}

/*
 * Comments
 */
.comment-metadata .edit-link a {
  color: #1A4C94;
}

/*
 * Jetpack
 */
.jetpack_widget_social_icons a:hover,
.jetpack_widget_social_icons a:focus,
.widget_wpcom_social_media_icons_widget a:hover,
.widget_wpcom_social_media_icons_widget a:focus {
  color: #1A4C94;
}

.featured-content .entry-title a {
  color: #fff;
}

.featured-content .hentry:hover .entry-title {
  color: #1A4C94;
}

.site-header .jetpack-social-navigation a:hover {
  color: #1A4C94;
}