{{ with .Site.Params.Matomo }}

{{ if and .Url .SiteId }}

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDoNotTrack", true]);
  _paq.push(["disableCookies"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="{{- .Url -}}/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '{{- .SiteId -}}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><img referrerpolicy="no-referrer-when-downgrade" src="{{- .Url -}}/matomo.php?idsite={{- .SiteId -}}&amp;rec=1" style="border:0;" alt="" /></noscript>
<!-- End Matomo Code -->

{{ end }}
{{ end }}
{{ template "_internal/google_analytics.html" . }}