{{ $formName := .name }}
{{ $formAttributes := .attributes }}
{{ $formFields := .fields | append (dict "name" "submit" "type" "submit") }}
{{ $formClass := .class  | default "element-grid" }}

<form name="{{ $formName }}"
  class="form form--{{- $formName }} {{ with $formClass }} {{ . }}{{ end }}" 
  {{ partial "inline/attributes" $formAttributes }}
  >

{{ range $formFields }}

{{ $name := .name }}
{{ $label := .label | default "" }}
{{ $describtion := .describtion | default ""  }}
{{ $type := .type | default "text" }}
{{ $class := .class | default "element-grid__full" }}
{{ $attributes := .attributes | default (dict "required" "true") }}

<div class="input-container input-container--{{ $type }} {{ with $class }} {{ . }}{{ end }}">
  {{ with $label }}
  <label for="{{ $name }}" class="input-label{{ if isset $attributes "required" }} is-required{{ end }}">
    {{ . | markdownify }}
  </label>
  {{ end }}

  {{ if eq $type "textarea" }}
  <textarea id="{{ $name }}" name="{{ $name }}" class="input-field" {{ partial "inline/attributes" $attributes }}></textarea>
  {{ else }}
  <input type="{{ $type }}" id="{{ $name }}" name="{{ $name }}" class="input-field" {{ partial "inline/attributes" $attributes }}>
  {{ end }}

  {{ with $describtion }}
  <p class="input-describtion smalltext">{{ . | markdownify }}</p>
  {{ end }}
</div>

{{ end }}

</form>


{{ define "partials/inline/attributes" }}

{{ $attributes := "" }}

{{ range $key, $value := . }}

{{ $string := $key }}
{{ with $value }}
{{ $string = printf `"%s"` . | printf "%s=%s" $string}}
{{ end }}
{{ $attributes = printf "%s" $attributes | printf "%s %s" $string }}
{{ end }}

{{ return ($attributes  | safeHTMLAttr) }}
{{ end }}