<div id="searchWrapper" class="search-wrapper">
  <section class="search-container grid">

    <div class="search-form grid--main">
      <form id="searchForm" class="noscript" method="GET" data-language-prefix="{{ site.LanguagePrefix }}">
        {{ $url := urls.Parse site.BaseURL }}
        {{ $url = $url.Host | strings.TrimPrefix "www." }}
        <input id="searchInput" type="search" name="q" tabindex="0" autocomplete="off" placeholder="Search {{ $url }} ">
      </form>
      <div>Type to search or press esc to cancel.</div>
    </div>

    <div class="search-list grid--main">
      <h2 id="searchListTitle" class="search-list__title bigtext">
        <!--Filled by JS -->
      </h2>
      <ul id="searchListItems" class="search-list__items unstyled">
        <!-- Filled by JS -->
      </ul>
    </div>
  </section>
</div>

{{ partial "util/esbuild.html" (dict "src" "js/search.js" "targetPath" "search.js" "load" "async" "transpile" true) -}}
