.page-frontmatter>* {
  margin-bottom: spacing(.5);
}

.page-frontmatter,
.page-image {
  margin-bottom: spacing(1);
}

.page-header__meta {
  margin-top: spacing(-1);
  margin-bottom: spacing(1);
}

.page-content>%headings:first-child {
  margin-top: 0;
}

.page-header__meta span {
  display: inline-block;

  &::after {
    content: ", ";
  }

  &:first-child::first-letter {
    text-transform: capitalize;
  }

  &:last-child::after {
    content: "";
  }
}

.page-toc ol li::before {
  display: inline-block;
  min-width: 1.5em;
}

.section {
  padding: spacing(1) 0;
  border-top: var(--border--small);
}

.sponsors {
  margin-top: spacing(1);
  padding-top: spacing(1);
  border-top: var(--border--small);

  .sponsors__title {
    margin: 0;
  }

  .sponsors__logo {
    padding-right: 3rem;

    svg {
      height: auto;
    }
  }
}

.submission-form {
  padding-top: spacing(.5);
  margin-bottom: spacing(.5);
  border-top: var(--border);
  border-bottom: var(--border);

  h3 {
    margin-top: 0;
  }
}
