{{ define "content" }}
{{ $paginator := .Paginate .Pages }}
<section class="grid grid--default-wide">
  {{ range $paginator.Pages }}
    <article class="excerpt border">
      <a class="link link--plain" href="{{ .Permalink }}">
        <h3 class="excerpt__title">{{ .Title }}</h3>
        <p class="excerpt__description">{{ .Description | markdownify | plainify | htmlUnescape }}</p>
      </a>
      {{ partial "content/list.html" . }}
    </article>
  {{ end }}
</section>

{{ if compare.Ne $paginator.TotalPages 1 }}
  <ul class="border pagination">
    <li class="pagination__prev">{{ if $paginator.HasPrev }}<a class="link link--plain" href="{{ $paginator.Prev.URL }}">&#8249; Previous</a>{{ end }}</li>
    <li class="pagination__next">{{ if $paginator.HasNext }}<a class="link link--plain" href="{{ $paginator.Next.URL }}">Next &#8250;</a>{{ end }}</li>
  </ul>
{{ end }}

{{ end }}
