{{- if .IsBlock -}}
  <figure class="grid__subgrid grid__span-all grid--default-wide">
    {{- if strings.HasSuffix (lower .Destination) "svg" -}}
      {{- partial "util/svg" (dict "src" .Destination "page" .Page) -}}
    {{- else -}}
      {{ partial "util/img.html" (dict "src" .Destination "page" .Page "alt" .PlainText "media" "main") }}
    {{- end -}}
    {{- with .Title }}<figcaption class="aside grid__span-small">{{ . }}</figcaption>{{ end -}}
  </figure>
{{- else -}}
  {{- if strings.HasSuffix (lower .Destination) "svg" -}}
    {{- partial "util/svg" (dict "src" .Destination "page" .Page) -}}
  {{- else -}}
    {{- partial "util/img.html" (dict "src" .Destination "page" .Page "alt" .PlainText "media" "main") -}}
  {{- end -}}
{{- end -}}
