<section class="grid-element sponsors">

  <h5 class="sponsors__title grid-element__full">Supported by:</h5>

  {{ $philgrad := resources.Get "img/sponsors/logo_philgrad.svg"}}
  <a class="grid-element__third sponsors__logo" href="http://www.philo.hhu.de/"><img src="{{ $philgrad.RelPermalink }}"></a>

  {{ $dfg := resources.Get "img/sponsors/logo_dfg.svg"}}
  <a class="grid-element__third sponsors__logo" href="https://indmet.weebly.com/"><img src="{{ $dfg.RelPermalink }}"></a>

  {{ $gap := resources.Get "img/sponsors/logo_gap.svg"}}
  <a class="grid-element__third sponsors__logo" href="https://www.gap-im-netz.de/en/"><img src="{{ $gap.RelPermalink }}"></a>

</section>